html, 
body, 
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-blue: #2998ff;
  --dark-blue: #135cc5;

  --light-red: #f87171;
  --dark-red: #dc2626;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
  --font-color: #001010;

  --h1: 7.594rem;
  --h2: 5.063rem; 
  --h3: 3.375rem; 
  --h4: 2.25rem; 
  --h5: 1.5rem;
}

h1 {
<<<<<<< HEAD
  font-size: var(--h1);
=======
  font-size: 3.2rem;
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
}

h2{
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4{
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

body {
  background-color: var(--primary);
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

.main {
  background-color: var(--secondary);

}

<<<<<<< HEAD
#heading {
  background-color: var(--secondary);
  padding: 5px 40vw;
}

=======
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
.warm {
  --primary: var(--light-red);
  --secondary:var(--dark-red);
}

.cool {
  --primary: var(--light-blue);
  --secondary:var(--dark-blue);
}

.container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  flex-direction: row; 
  align-content: center;
}

.card {
  height: 50%; 
  width: 25%; 
  border-radius:5px;
<<<<<<< HEAD
  background-color:aliceblue; 
=======
  background-color:burlywood ; 
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
  margin: 30px;
  box-shadow: black; 
  padding: 20px;
  justify-content: space-between;

}

.card-img {
  width: 90%; 
  height: 30%; 
  align-items: center; 
  margin-left: 5%; 
  
}

<<<<<<< HEAD
.card-price {
  background-color: var(--primary);
}

=======
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
<<<<<<< HEAD
  margin: 1.5em .5em;
  font-size: 1.5em;
=======
  font-size: 1em;
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
<<<<<<< HEAD
  
=======
>>>>>>> 3c6d25c2920dbaa1b9445e990685986581f615e5
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
